header {
  max-width: 39.1875rem;
  margin-inline: auto;
  
  & img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    padding-block: 1.5625rem;
  }

  & .title {
    padding-top: 2.9375rem;
  }

  & h1 {
    padding-top: 1rem;
  }
}